.navbar{
  position: static;
}
body{
    background-image: url("image2.jpg");
    background-size: cover;
    height: 1000px;
}
.main{
  text-align: center;
  padding-left: 500px;
}

button:hover{
  background: black;
  color: white;
}

.todo-list{
  list-style: none;
  width: 500px;
  margin-left: 200px;
}

.todo{
  display: flex;
  margin-top: 0.5rem;
    background-color: white;
}

.todo li{
  flex:1;
}

.todo-item{
  padding: 0.5rem;
  border: solid;
}

.fa-trash-alt,
.fa-check-circle{
  pointer-events: none;
}

.strike{
  text-decoration: line-through;
  opacity: 0.5;
}
